:root {
  // ----- Color -----
  --red-900: red;
  --gray-100: rgba(245, 245, 245, 1);
  --gray-200: rgba(245, 245, 245, 1);
  --gray-300: rgba(232, 232, 232, 1);
  --gray-400: rgba(216, 216, 216, 1);
  --gray-500: rgba(194, 194, 194, 1);
  --gray-600: rgba(165, 165, 165, 1);
  --gray-700: rgba(128, 128, 128, 1);
  --gray-800: rgba(85, 85, 85, 1);
  --gray-900: rgba(41, 41, 41, 1);

  --blue-500: rgba(3, 107, 227, 1);
  --blue-600: rgba(0, 79, 169, 1);
  --blue-700: rgba(0, 66, 143, 1);

  --mono-white: rgba(255,255,255,1);
}