@import 'reset';
@import 'variables';
@import 'typography';


// ===== LAYOUT =====
.container {
  display: flex;
  justify-content: center;
}



// ===== COMPONENTS =====

.textbox {
  @include field-value;
  border: 0;
  height: 40px;
  width: 320px;
  background-color: var(--gray-100);
  border-radius: 4px;
  box-shadow: 0;
  
  &:hover{
    border: 1px solid var(--gray-900);
  }
}

.button {
  height: 36px;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  color: var(--gray-900);

  &:hover {
    background-color: var(--Btn-hover-color);
    border: 1px solid var(--Btn-border)
  }

  &:active {
    background-color: var(--Btn-active-color);
    border: 1px solid var(--Btn-border)
  }
}